.vue-zoomer {
    overflow: hidden;
  }
  .zoomer {
    transform-origin: 50% 50%;
    width: 100%;
    height: 100%;
  }
  .zoomer > img {
    /* remove the 4px gap below the image */
    vertical-align: top;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
  }
  