.markdown-section {
  font-family: 'Iowan Old Style', 'Hoefler Text', 'Palatino', 'Palatino Linotype', 'Book Antiqua',
    'Georgia', serif;
  line-height: 1.65;
}

@media screen and (min-width: 769px) {
  .markdown-section {
    max-width: 72ch;
    float: left;
  }
}
